include ../mixins/checkbox
include ../mixins/radio
include ../mixins/input-extend
include ../mixins/dropdown
include ../mixins/svg
include ../mixins/btn
include ../mixins/price
include ../mixins/input-material
include ../mixins/input-file

block config
    - var pageTitle = 'Авторизация'
    - var pageDescription = 'Описание для СЕО'

<!DOCTYPE html>
html(lang="ru")
    head
        include ../partials/head

        block styles
            include ../partials/styles
    body
        .container-layout
            .auth
                a(href="/").auth__logo
                block main

        block scripts
            include ../partials/scripts
