include ../mixins/svg
include ../mixins/btn


block config
    - var pageTitle = 'Страница Ошибки'
    - var pageDescription = ''

<!DOCTYPE html>
html(lang="ru")
    head
        include ../partials/head

        block styles
            include ../partials/styles
    body.error-page_bg
        .error-page
            a(href="/").error-page__logo
            .error-page__contacts
                a(href="mailto:info@site.com") info@site.com
            block main


        block scripts
            include ../partials/scripts
